<div class="col-md-3" ng-controller="reportingController">
                <form ng-init="showSafety = false;">
                    <div class="form-group">
                        <!-- <label for="category">Report Category</label>
                        <select ng-model="report.category" id="category" class="form-control">
                            <option>Safety</option>
                            <option>Facility</option>
                        </select> -->
                        <button class="btn btn-danger" ng-click="report.category = 'Safety'">Safety</button>
                        <button class="btn btn-warning" ng-click="report.category = 'Facility'">Facility</button>
                        
                    </div>
                    
                    <div>
                        <span class="label label-success">{{ report.category }}</span>
                    </div>
                    
                    <div class="form-group" id="safetyOptions" ng-show="report.category == 'Safety'">
                        <div class="radio">
                            <label>
                                <input type="radio" name="threatOptions" id="theft" ng-model="report.type" value="Theft" checked>Theft
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="threatOptions" id="teasing" ng-model="report.type" value="Teasing">Teasing
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="threatOptions" id="Suspicious Behaviour" value="Suspicious Behaviour" ng-model="report.type">Suspicious Behaviour
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="threatOptions" id="Violence" ng-model="report.type" value="Violence">Violence
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="threatOptions" id="Other" ng-model="report.type" value="Other">Other
                            </label>
                        </div>
                    </div>

                    <div class="form-group" id="facilityOptions" ng-show="report.category == 'Facility'" >
                        <div class="radio">
                            <label>
                                <input type="radio" name="facOptions" id="roads" ng-model="report.type" value="Roads" checked>Roads
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="facOptions" id="electricity" ng-model="report.type" value="Electricity">Electricity
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="facOptions" id="water" value="Water" ng-model="report.type">Water
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="facOptions" id="cleanliness" value="Cleanliness" ng-model="report.type">Cleanliness
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="facOptions" id="other" value="Other" ng-model="report.type">Other
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea type="textarea" class="form-control" rows="3" id="comment" ng-model="report.comment" placeholder="Comment"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="area">Location:</label>
                        <span class="label label-info">
                            ( {{ position.latitude |  number : 4}}, {{ position.longitude | number : 4}})
                        </span>
                    </div>

                    <span class="label label-success">{{ success }}</span>

                    <span class="label label-danger">{{ failure }}</span>

                   <div class="alert alert-info">
                            Report: {{ report | json }}
                    </div> 
                    
                    <button class="btn btn-primary" ng-click="submit()">Submit</button>

                    <button class="btn btn-info" ng-click="fetchReports()">Get Reports</button>
                </form>
            </div>
            
            <!--The middle section -->
            <div class="col-md-6" ng-controller="reportingController" ng-init="fetchReports()">
                
                 <div class="form-inline">
                                <input type="number" class="form-control" ng-model="query.limit"/>
                                 <select class="form-control" ng-model="query.category">
                                    <option value="Safety">Safety</option>
                                    <option value="Facility">Facility</option>
                                </select>
                                <button type="button" class="btn btn-primary" ng-click="queryReports()">Search</button>
                                <button type="button" class="btn btn-info" ng-click="">Details</button>
                </div>
                <br/>
                <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading">Reports</div>
            
                  <!-- Table -->
                  <table class="table" >
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Location</th>
                        <th>Category</th>
                        <th>Type</th>
                      </tr>
                    </thead>
                    <tbody>
                        
                      <tr ng-model="reports" ng-repeat="report in reports track by $index">
                        <th scope="row">{{ $index + 1 }}</th>
                        <td>{{ report.location }}</td>
                        <td>{{ report.category }}</td>
                        <td>{{ report.type }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
               
            </div>
                 
                     
            <div class="col-md-3" id="maps" ng-controller="mapController">
                   <div id="map-canvas"></div>
            </div>
            </div>